html {
    font-size: 11px;
}

table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
}

div {
    max-width: 100%;
    text-align: center;
}

th {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

img { 
    max-width: 25%; 
    height: auto; 
}

button {
    margin: 4px;
}

#code-block {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    white-space: nowrap;
}

#profilePictureDiv {
    text-align: center;
}

#profileImageDiv {
    height: 100px;
    width: 100px;
}

#statusMessage {
    position: relative;
    top: 40px;
}

.textLeft {
    text-align: left;
}

.buttonGroup {
    padding-top: 20px;
}

.hidden {
    display: none;
}

#liffData {
    display: none;
}

button#closeWindowButton {
    padding: 0;
    position: fixed;
    top: 10px;
    right: 10px;

}

#mdiv {
    width: 25px;
    height: 25px;
    /* border: 1px solid black; */
}

.mdiv {
    height: 25px;
    width: 2px;
    margin-left: 12px;
    background-color: black;
    transform: rotate(45deg);
    Z-index: 1;
}

.md {
    height: 25px;
    width: 2px;
    background-color: black;
    transform: rotate(90deg);
    Z-index: 2;
}